<div class="image" style="width: 100vw; height: 100vh; position: fixed; top:20;  left: 0;">





  <div class="row">
    <div class="col-xl-5 offset-xl-4">
      <div class="col-xl-3 offset-xl-9">
        <nav class="navbar" style="display: inline;">
          <input class="form-control" type="text" name="search" placeholder="Wyszukaj" [(ngModel)]="filter">
          <button class="btn btn-primary" type="submit"  (click)="openModal(Dialog)">Dodaj</button>
        </nav>
      </div>
      <table class="table table-striped" style="background-color:  white" >
        <thead>
          <tr>
            <th>Nazwa produktu</th>
            <th>Kategoria produktu</th>
            <th>Kcal na 100g</th>
            <th>Zarządzaj</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
            <th>{{product.Name}}</th>
            <td>{{product.Category}}</td>
            <td>{{product.NutritionalValue}}</td>
            <td>
              <button class="btn btn-danger" type="submit" (click)="Remove(product)">Usuń</button>
            </td>
          </tr>
        </tbody>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </table>
    </div>
  </div>

</div>


<ng-template #Dialog>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
          <b style="font-size: 30px">Dodaj Produkt</b>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label >Kategoria produktu</label>
        <select class="custom-select"  (change)="selectChangeHandler($event)">
          <option value="Białko">Białko</option>
          <option value="Węglowodany">Węglowodany</option>
          <option value="Tłuszcze">Tłuszcze</option>
        </select>
        <div class="form-group">
            <label for="waist">Nazwa produktu</label>
            <input type="text" class="form-control" id="productName" [(ngModel)]="productName">
        </div>
        <div class="form-group">
            <label for="hips">Ilość kcal na 100g</label>
            <input type="number" class="form-control" id="kcalPerProduct" [(ngModel)]="kcalPerProduct">
        </div>
            <button class="btn btn-primary btn-lg" type="submit" (click)="modalRef.hide()" (click)="AddProduct()">Dodaj</button>
    </div>
  </ng-template>