<div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
            kontener na newsy
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-sm-4">
            <img src='../../assets/Images/Jay-Cutler-400x400.png'>
            <div class="colorDiv">
                  <p><i class="fa fa-user fa-5x"></i> Liczba uzytkowników na portalu: 0</p>  
                <br />
                <p>Wyliczonych kalorii na portalu: 0</p>
                <br />
                <br />
                <br />
            </div>
        </div>
        <div class="col-sm-4">
            wyswietlanie uzytkownikow
        </div>
    </div>
    <br />
</div>