<div style="margin-left: 230px">
  <form>
    <div class="form-group">
      <label for="age" style="color: white">Wiek</label>
      <input type="text" class="form-control" id="age" placeholder="Wiek">
    </div>
    <div class="form-group">
      <label for="target" style="color: white">Płeć</label>
      <select class="custom-select">
        <option selected>Wybierz Płeć</option>
        <option value="1">Mężczyzna</option>
        <option value="2">Kobieta</option>
      </select>
    </div>
    <div class="form-group">
      <label for="priorityPart" style="color: white" >Partia na której Nam zależy</label>
      <select class="custom-select" data-toggle="tooltip" data-placement="top" title="Jeżeli zależy Ci na rozbudowaniu partii w której masz największe braki to proszę wybrać z listy tą partie">
        <option selected>Wybierz partie</option>
        <option value="1">Klatka piersiowa</option>
        <option value="2">Plecy</option>
        <option value="3">Biceps</option>
        <option value="3">Triceps</option>
        <option value="3">Barki</option>
        <option value="3">Nogi</option>
        <option value="3">Pośladki</option>
        <option value="3">Nie skupiamy sie szczególnie na żadnej partii</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Rozpisz trening</button>
  </form>
</div>

<div style=" position: absolute; left: 230px; right: 90px; width: auto;" >
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Dzień</th>
        <th>Partie</th>
        <th>Ćwiczenia</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>