
<div class="image" style="width: 100vw; height: 100vh; position: fixed; top:20;  left: 0;"> 

  </div>

<div class="container">
    <div *ngIf="formError" class="alert alert-danger" role="alert">
        Niepoprawny email lub hasło !!! 
      </div>
  <div class="row">
    <div class="col-xl-6 offset-xl-4">
      <h1 style="color:white; font-size: 70px">Zaloguj się</h1>
    </div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="row align-items-center">
      <div class="col-xl-7 offset-xl-3" style="margin-top: 90px">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <i style="color: white" class="fa fa-envelope fa-4x"></i>
          </span>
          <input type="text" formControlName="email" class="form-control" placeholder="E-mail">
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-xl-7 offset-xl-3" style="margin-top: 15px">
        <div class="input-group">
          <span class="input-group-addon">
            <i style="color: white" class="fa fa-lock fa-4x"></i>
          </span>
          <input type="password" style="margin-left: 22px" formControlName="password" class="form-control" placeholder="Hasło">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-2 offset-xl-9" style="margin-top: 15px">
        <button class="btn btn-primary" [disabled]="loginForm.invalid" type="submit" (click)="login()">Zaloguj się</button>
      </div>
    </div>
  </form>
</div>

