<div class="image" style="width: 100vw; height: 100vh; position: fixed; top:20;  left: 0;">

</div>

<ng-template #BMI>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <b>Body Mass Index - indeks masy ciała, który służy do określania czy Nasza masa ciała jest prawidłowa.</b>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="showBmiForm">
            <div class="form-group">
                <label for="gender">Płeć</label>
                <select class="custom-select mr-sm-2" id="gender" (change)="selectChangeHandler($event)">
                    <option selected>Wybierz płeć</option>
                    <option value="man">Mężczyzna</option>
                    <option value="woman">Kobieta</option>
                </select>
            </div>
            <div class="form-group">
                <label for="weight">Waga</label>
                <input type="number" class="form-control" id="weight" [(ngModel)]="weight">
            </div>
            <div class="form-group">
                <label for="height">Wzrost podany w metrach</label>
                <input type="number" class="form-control" id="height" [(ngModel)]="height">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" (click)="calculateBmi()">Oblicz</button>
                <button type="submit" class="btn btn-danger" (click)="modalRef.hide()">Wróć</button>
            </div>
        </div>
        <div *ngIf="!showBmiForm" class="textCetner">
            <b style="font-size: 30px">Twoje BMI wynosi {{bmiValue}} </b>
            <table class="table table-dark table-hover" data-ng-style="margin-top: 15px">
                <thead>
                    <tr>
                        <th>Wynik</th>
                        <th>Ocena wagi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>BMI &lt; 18.5</td>
                        <td>niedowaga</td>
                    </tr>
                    <tr>
                        <td>18.5 &le; BMI &le; 24.9</td>
                        <td>waga prawidłowa</td>
                    </tr>
                    <tr>
                        <td> 25 &le; BMI &le; 29.9</td>
                        <td>nadwaga</td>
                    </tr>
                    <tr>
                        <td>BMI &le; 30</td>
                        <td>otyłość</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</ng-template>

<!-- metodą Harrisa-Benedicta -->
<ng-template #BMR>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <b>Basal metabolic rate - czyli wskaźnik podstawowej przemiany materii.</b>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="showBmrForm">
                <div class="form-group">
                        <label for="gender">Płeć</label>
                        <select class="custom-select mr-sm-2" id="gender" (change)="selectChangeHandler($event)">
                            <option selected>Wybierz płeć</option>
                            <option value="man">Mężczyzna</option>
                            <option value="woman">Kobieta</option>
                        </select>
                    </div>
                <div class="form-group">
                        <label for="weight">Waga</label>
                        <input type="number" class="form-control" id="weight" [(ngModel)]="weight">
                    </div>
                    <div class="form-group">
                        <label for="height">Wzrost podany w metrach</label>
                        <input type="number" class="form-control" id="height" [(ngModel)]="height">
                    </div>
                    <div class="form-group">
                            <label for="height">Wiek</label>
                            <input type="number" class="form-control" id="age" [(ngModel)]="age">
                    </div>
                    <div class="form-group">
                            <button type="submit" class="btn btn-primary" (click)="calculateBmr()">Oblicz</button>
                            <button type="submit" class="btn btn-danger" (click)="modalRef.hide()">Wróć</button>
                        </div>
        </div>
        <div *ngIf="!showBmrForm">
                <b style="font-size: 30px">Twoje BMR metodą  Harrisa-Benedicta wynosi {{bmrResult}} </b>
        </div>
            
    </div>

</ng-template>

<ng-template #WHR>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <b>Waist-hip ratio - wskaźnik dystrybucji tkanki tłuszczowej w ciele człowieka.</b>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="showWhrForm">
            <div class="form-group">
                <label for="gender">Płeć</label>
                <select class="custom-select mr-sm-2" id="gender" (change)="selectChangeHandler($event)">
                    <option selected>Wybierz płeć</option>
                    <option value="man">Mężczyzna</option>
                    <option value="woman">Kobieta</option>
                </select>
            </div>
            <div class="form-group">
                <label for="waist">Obwód talii</label>
                <input type="number" class="form-control" id="waist" [(ngModel)]="waist">
            </div>
            <div class="form-group">
                <label for="hips">Obwód bioder</label>
                <input type="number" class="form-control" id="hips" [(ngModel)]="hips">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" (click)="calculateWhr()">Oblicz</button>
                <button type="submit" class="btn btn-danger" (click)="modalRef.hide()">Wróć</button>
            </div>
        </div>
        <div *ngIf="!showWhrForm">
            <div class="textCetner">
                <b style="font-size: 15px">Twoje WHR wynosi {{whrValue}} oraz {{whrdescribe}}</b>
            </div>
        </div>
    </div>
</ng-template>

<div>
    <div class="row">
        <div class="col-sm-4">
            <img class="zoom" src='../../assets/Images/bmi.png' (click)="openModal(BMI)" height="250px" width="300px">
        </div>
        <div class="col-sm-4">
            <img class="zoom" src='../../assets/Images/2cal.JPG' (click)="openModal(BMR)" height="250px" width="300px">
        </div>
        <div class="col-sm-4">
            <img class="zoom" src='../../assets/Images/3cal.JPG' (click)="openModal(WHR)" height="250px" width="300px">
        </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>



</div>