.image{
    background-image:url('https://wallpaperplay.com/walls/full/7/b/5/32717.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }